
div.project-title
{
  color:white;
  font-weight:bold;
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size:22px;
  letter-spacing: 0.9px;

}

div.header
{
   background-color:#009cde;
   width:100%;
   height:25px;
   position: absolute;
   padding: 10px 10px 10px 20px;
   top: 0;
   left:0;
}
