
div.step
{

color:blue;
margin-top:100px;
padding:40px 10px 50px 50px;
display: block;
width:100%;
vertical-align: middle;

}

div.step-name-number
{
   width:2px;
   height:30px;
}

span.step-number
{
   color: #009cde;
   font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
   font-size:22px;
   letter-spacing: 0.9px;
}

span.step-name
{
  color: #009cde;
   font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
   font-size:22px;
   letter-spacing: 0.9px;
  padding:10px 10px 90px 200px;

}

span.active
{
  font-weight:bold;
  font-size:28px;
  transition: color 1s, font-size 1s;

}

div.main
{
   height:50%;

   -webkit-box-shadow: 0px 1px 20px 1px #e2e2e2;
   border: solid 1px transparent;
   width:70%;
   margin: 0 auto;

 }

#continue:hover
{
   text-decoration:underline;

   padding-bottom: 8px;
}

#continue
{
  color:#009cde;

  width:6%;
  height:3%;

  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size:16px;
  letter-spacing: 0.9px;

  float:right;
   margin-top:365;
    display: inline-block;
    text-decoration:none;

}



