
input.element-box
{
    margin-top:5px;
    width:250px;
}


div#element-r-price
{
  margin-top:30px;
  text-align:left;
}

div#element-d-perc, #element-d-price, #element-s-date, #element-e-date
{
  margin-top:22px;
  text-align:left;


}

.element-box
{
  height:25px;
}
