#description
{
  height:30%;
  width:47%;

  margin-bottom:-120px;
  margin-top:50px;
  float:center;
  margin-left:38px;
  margin-top:10px;
  resize:none;

}

.product-description
{
 text-align:left;
 margin-top:20px;


}

.element-title
{
   font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
   font-size:12px;
   letter-spacing: 0.9px;
   padding:40px;
   color:gray;
   font-weight:bold;

}

input.element-box
{
    margin-top:5px;
    margin-left:38px;
    width:250px;
}


div#element-man
{
  margin-top:140px;
  margin-left:38px;
}


div#element-item, div#element-sku
{
  margin-top:20px;

}


.product-next-a:hover
{
   text-decoration:underline;

   padding-bottom: 8px;
}

.product-next-a
{
  color:#009cde;

  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size:16px;
  letter-spacing: 0.9px;
  text-decoration:none;
}

.product-next
{

  width:36.6%;
  height:3%;


  float:right;
   margin-top:30;
    display: inline-block;
    text-decoration:none;
    position:absolute;
    margin-left:-264px;

}


